#resetPassword {
    display: none;
}
body {
    font-size: 12px;
}
body.rtl #forgotPassword {
    text-align: left;
}
#forgotPassword {
    margin-top: 3px;
    cursor: pointer;
}
#submitReset {
    margin-top: 15px;
}
.select2-container.select2-container-multi.select2 {
    min-height: 34px;
}
.select2, .select2NoSearch,
.select-2{
    width: 100%;
    text-align: center;
}

#segmentMainData .select2
{
    width: 240px;
}
#customer .select2,
#coupon .select2,
#branch .select2{
    width: 178px;
}
#feedback .select2{
    vertical-align: super;
}
.select2-container.select2-container-multi{
    border: 1px solid #bbb;
    border-radius: 3px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.previewImage {
    width: 256px;
    height: 256px;
}
.createNew{
    margin-bottom: 5px;
}
#beaconDetails ul {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}
#beaconDetails li {
    display: inline-block;
    height: 50px;
    width: 95%;
    margin: 10px;
    padding: 5px;
    line-height: 50px;
    border-bottom: 1px #e8ebed solid;
}
#rootwizard .engagementPreviewImage {
    text-align: center;
    margin: 10px 0;
}
#pollPreviewQuestion{
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
#pollPreviewAnswers li {
    margin: 15px 0;
    font-size: 16px;
}
.modal-footer.previewFooter {
    height: 230px;
    margin: 0 auto;
    background: #febd00;
    text-align: center;
    line-height: 200px;
}
#engagementCoupon{
    display: none;
}
#engagementPreview {
    /*width: 500px;*/
    /*text-align: center;*/
}
#punchcardPreviewHeader {
    text-align: center;
    background-color: #ffbe00;
    font-size: 24px;
    line-height: 60px;
    color: #fff;
}
#punchcardPreviewBody{
    text-align: center;
}
.circle {
    font-size: 34px;
    border: 2px solid #858384;
    border-radius: 50%;
    padding: 4px 14px;
    color: #858384;
}
.topHr{
    text-align: center;
    margin: 0 auto 60px;
}

.punchcardPreviewNumbersFormGroup{
    text-align: center;
    margin: 0 auto 40px;
}
#punchcardPreviewBody,
#punchcardPreviewFooter {
    background-color: #e3dcd6;
}
#punchcardPreviewText {
    margin: 0 auto 15px auto;
    padding-top: 20px;
    font-size: 14px;
}
#punchcardPreviewName{
    text-align: center;
}
#punchcardPreviewDuration {
    text-align: center;
    height: 110px;
    width: 115px;
    margin: 0 auto 25px auto;
    padding-top: 20px;
    border: #607a0c 5px solid;
    border-radius: 80px;
}
#punchcardPreviewDuration span {
    font-size: 28px;
}
#punchcardPreviewDuration p {
    margin-top: 8px;
    font-size: 20px;
}
#punchcardPreviewFooter {
    height: 100px;
    text-align: center;
}
#punchcardPreviewFooter a {
    font-size: 16px;
    margin-top: 15px;
}
#punchcardPreviewFooter p {
    margin: 10px 0;
    color: #668d9c;
    font-weight: bold;
}
#messagePreview .panel.panel-warning.preview,
#messagePreview .panel.panel-warning.preview .panel-heading,
#messagePreview .panel.panel-warning.preview .panel-footer{
    color: #fff;
    background-color: #ffbe00;
    border-color: #ffbe00;
    text-align: center;
}
#messagePreview .preview #messageIcon {
    font-size: 160px;
}
#messagePreview .preview #fixedMessage {
    color: #000;
}
#messagePreview .preview p {
    padding: 10px;
    font-size: 22px;
}
#messagePreview .preview #closeIcon {
    margin: 10px 0;
    font-size: 50px;
}
.tile {
    text-align: center;
    color: #333;
    font-weight: bold;
    background: rgb(184,198,223);
    background: -moz-linear-gradient(top, rgba(184,198,223,1) 0%, rgba(109,136,183,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,198,223,1)), color-stop(100%,rgba(109,136,183,1)));
    background: -webkit-linear-gradient(top, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%);
    background: -o-linear-gradient(top, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%);
    background: -ms-linear-gradient(top, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%);
    background: linear-gradient(to bottom, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#6d88b7',GradientType=0 );
}
.tile a {
    display: block;
}
.status{
    margin-bottom: 15px !important;
}
.select2-container .select2-choice{
    height: 34px;
    line-height: 34px;
}
.select2-container .select2-choice .select2-arrow b{
    background-position: 0 3px;
}
@media (max-width: 767px) {
    .status{
        text-align: center;
    }
}
.form-inline.select2-wraper .form-group {
    vertical-align: top;
}
.setting-form-group{
    height: 69px;
}
.form-group.system-user-form-group{
    vertical-align: top;
}
#usersreports .form-horizontal .control-label {
    text-align: left;
}
#usersreports .select2, .select2NoSearch {
    width: 100%;
    text-align: center;
}
#usersreports .selectStartDateWrap{
    margin-top: 24px;
    margin-bottom: 10px;
}
label.myErrorClass {
    color: red;
    display: block;
}
input.myErrorClass, .select2-choice.myErrorClass {
    border: 1px solid red;
}
#coupon .previewHeader {
    background-color: #ffbe00;
    height: 100px;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#coupon .previewFooter {
    height: 230px;
    margin: 0 auto;
    background: #febd00;
    text-align: center;
    line-height: 230px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
#userfeedbacks table a{
    padding: 5px 10px;
}
.langOptions img {
    width: 24px;
    height: 24px;
}
body.rtl{
    direction: rtl;
}

@media (min-width: 768px){
    .rtl #page-wrapper{
        margin: 0 250px 0 0;
    }
}

.rtl .createNewBtn{
    float: right;
}
.rtl .dataTables_wrapper {
    direction: rtl;
}
.rtl .dataTables_length {
    float: right;
}
.rtl .dataTables_filter {
    float: left;
    text-align: left;
}
.rtl .dataTables_info {
    float: right;
}
.rtl .dataTables_paginate {
    float: left;
    text-align: left;
}
.rtl table.table-bordered.dataTable th, table.table-bordered.dataTable td {
     border-left-width: 1px;
}
.rtl table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 1px;
}
.rtl .segmentReportTable{
    direction: rtl;
}
.rtl .nav-tabs>li {
    float: right;
    margin-bottom: -1px;
}
.rtl .input-group {
    direction:rtl !important;
}

.rtl .input-group-btn:last-child >.btn {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-right: 0px !important;
    border-left: 1px solid #ccc !important;

}

.rtl .input-group .form-control:first-child {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;

}
.rtl .hbr{
    float: right;
}
.rtl .text-right {
    text-align: left;
}
.rtl .langMenu a{
    text-align: right;
}
.rtl .createNewBtn div.dt-buttons {
    position: relative;
    float: right;
}
#coupon .modal-body{
    text-align: center;
}
#coupon .modal-body .couponPreviewImage,
#coupon .modal-body #couponPreviewImage{
    margin: 0 auto;
}
#engagementPreview .img-thumbnail {
    width: 100%;
    margin: 15px 0 15px ;
}
#userfeedbacks table tr.read {
    background-color: #ddd;
}
#userfeedbacks table tr.unread {
    font-weight: bold;
}
#userfeedbacks table tr td a,
#userfeedbacks table tr td button{
    font-weight: 400;
}
.autocomplete-parent{
    position: relative;
}
.autoComplete {
    list-style-type: none;
}
.autoComplete{
    border: 1px solid #c8cdd7;
    border-top: none;
    cursor: pointer;
    display: none;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    position: absolute;

}
.autoComplete li{
    //line-height: 2em;
    padding: 3px 10px;
}
.autoComplete li.odd {
    background-color: #f9f9f9;
}
#feedbackPreview .modal-content{

}

#feedbackPreview .modal-header {
    height: 60px;
    text-align: center;
    background-color: #ffbe00;
    text-align: center;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#feedbackPreview .previewQuestion p.h3 {
    padding: 20px;
    background-color: #858c95;
}
#feedbackPreview .previewQuestionNumber {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    border: 3px #fff solid;
    border-radius: 30px;
}
#feedbackPreview .h3 {
    color: #fff;
}
#feedbackPreview .feedbackPreviewAnswer .yesNo {
    margin: 50px 8px 0 8px;
    text-align: center;
    font-size: 22px;
}
.rating ul li{
    display: inline-block;
}
body.ltr #feedbackPreview .previewRatings {
    margin-left: 50px;
}
body.ltr #feedbackPreview .previewRatings {
    margin-right: 50px;
}
#feedbackPreview .ratingDelimiter {
    display: inline-block;
    margin-top: 35px;
    text-align: center;
    line-height: 34px;
    width: 40px;
    height: 40px;
    font-size: 24px;
    border: 3px solid #858c95;
    border-radius: 20px;
}
#feedbackPreview .previewRatings {
    border-top: 8px solid #ffbe00;
    border-radius: 10px;
}
#feedbackPreview .previewRatings li {
    min-width: 20%;
    max-width: 20%;
    font-size: 14px;
    word-wrap: break-word;
}
.ltr .fl {
    float: right !important;
}
.fl {
    float: left !important;
}
.previewRatings .previewRating{
    float: left;
}
.rtl .previewRatings .previewRating{
    float: right;
}
.rtl .checkbox input[type=checkbox],
.rtl .checkbox-inline input[type=checkbox],
.rtl .radio input[type=radio],
.rtl .radio-inline input[type=radio] {
    right: 0;
}
.rtl checkbox label,
.rtl .radio label,
.rtl .checkbox-inline,
.rtl .radio-inline,
.rtl .checkbox label,
.rtl .radio label{
    padding-right: 20px;
}
